# Compiled class files
target/
bin/
*.class

# Log files
*.log

# IDE-specific files
.idea/
*.iml
*.iws

# Eclipse project files
.project
.classpath
.settings/
.factorypath

# Maven build output
*.jar
*.war

# Gradle build output
build/

# Environment-specific files
.env

# Other
.DS_Store